<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizt - Mente en Crecimiento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="presentation-container">
        <span class="badge-intro">Cuestionarios Interactivos</span>
        <h1 class="main-title">Quizt: El Despertar de la Curiosidad</h1>
        
        <p class="subtitle">Empieza a aprender con cosas simples del día a día a las que a veces no les prestamos la suficiente atención.</p>
        
        <div class="philosophical-box">
            <p class="phrase">{{ frase.texto }}</p>
            <span class="author">{{ frase.autor }}</span>
        </div>

        <a href="{{ url_for('quises_selection') }}" class="btn-hero">¡Conoce nuestros quizes! →</a>
    </div>
</body>

</html>
